*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    width:100%;
    height:100%;

}
main{
    width:100%;
    min-height:100vh;
}

:root{
  --navText:#fff;
  --card:#fff;
  --actionClr1:#FF7F31;


}

$colors:(
    'navText':var(--navText),
);


@mixin flex($justify:space-between,$align:center,$dir:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}