*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    width:100%;
    height:100%;

}
main{
    width:100%;
    min-height:100vh;
}

:root{
    // --navText:#000;
  --navText:#fff;
  --card:#fff;
  --actionClr1:#FF7F31;


}
@mixin flex($justify:space-between,$align:center,$dir:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

@mixin mobile($mobile){
    @media(max-width:$mobile){
        @content;
    }
}